@page
@model SmartUnitCalculator.Pages.ChangePasswordModel
@{
}

<form method="post">
    <table class="table text-white table align-middle" >
        <tr>
            <td style="width:25%;">Hasło:</td>
            <td style="width: 75%;"><input type="password" asp-for="ChangePassword.Password" class="form-control"/></td>
            <span class="text-danger" asp-validation-for="ChangePassword.Password" ></span>
        </tr>
        <tr>
            <td style="width:25%;">Powtórz Hasło:</td>
            <td style="width: 75%;"><input type="password" asp-for="ChangePassword.PasswordCheck" class="form-control"/></td>
            <span class="text-danger" asp-validation-for="ChangePassword.PasswordCheck"></span>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="ChangePassword" class="btn btn-primary px-5" /></td>
        </tr>
        <p class="text-danger">@Model.Information</p>
    </table>
</form>