@page
@model SmartUnitCalculator.Pages.RegisterModel
@{
}

<h1>Zarejestruj się</h1>

<form method="post">
        <table class="table text-white table align-middle" >
            <tr>
                <td>Nazwa użytkownika:</td>
                <td><input type="text" class="form-control"/></t>
            </tr>
            <tr>
                <td>Hasło:</td>
                <td><input type="password" class="form-control"/></td>
            </tr>
             <tr>
                <td>Podaj hasło ponownie:</td>
                <td><input type="password" class="form-control"/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Zarejestruj się" class="btn btn-primary px-5" asp-page="User"/></td>
            </tr>
        </table>
    </form>