@page
@model SmartUnitCalculator.Pages.Shared.UserModel
@{
    ViewData["Title"] = "User - Smart Unit Calculator";
}

<h1>User Panel</h1>

<h3>Witaj, #User Name#</h3>

<h3>Historia</h3>
<table class="table">
    <tr>
        <td></td>
    </tr>
</table>


<h3 class="mb-3">Ustawienia użytkownika </h3>
<div class="mr-5 mb-3"><button asp-page="" class="btn btn-primary mr-5" >Zmień nazwę użtykownika</button> </div>
<div class="mr-5 mb-3"><button asp-page="ChangePassword" class="btn btn-primary mr-4">Zmień hasło</button></div>
<div class="mr-5 mb-3"><button asp-page="" class="btn btn-primary mr-3">Przypomnij hasło</button></div>
<div class="mr-5 mb-3"><button asp-page="Logout" class="btn btn-primary mr-2">Wyloguj się</button></div>
